<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora de dolar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input label="Digite a quantia desejada" type="number" placeholder="0" [(ngModel)] = "real"></ion-input>
  <ion-button expand="block" (click)="calcularDolar()">Calcular</ion-button>
  <ion-label>{{res}}</ion-label>
</ion-content>

<ion-content [fullscreen]="true">
  <ion-input label="Digite a nota da AC" type="number" placeholder="0" [(ngModel)] = "AC"></ion-input>
  <ion-input label="Digite a nota da AGH" type="number" placeholder="0" [(ngModel)] = "AGH"></ion-input>
  <ion-input label="Digite a nota da AT" type="number" placeholder="0" [(ngModel)] = "AT"></ion-input>
  <ion-button expand="block" (click)="calcularMedia()">Calcular</ion-button>
  <ion-label>{{media}}</ion-label>
</ion-content>


